.card {
  height: auto;
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;

  .card-header {
    display: flex;
    justify-content: center;

  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    .card-desc {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 700px;

      .i-category:hover,
      .i-author:hover,
      .i-title:hover {
        text-decoration: underline;

      }

      .i-title {
        font-weight: bold;
        font-size: 18px;
        word-break: break-all;
      }

      .i-author,.i-category {
        font-size: 15px;
      }
      .i-author{
        display: flex;
        gap: 10px;
      }
    }
  }

}